<header class="container">
  <div id="logo">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div>
    <p class="">MEDIA</p>
    <a
      href="https://www.linkedin.com/in/nasar-eddaoui/"
      target="_black"
      rel="noreferrer"
      class="media-icon glitch"
      ><i class="fab fa-linkedin-in"></i>
    </a>
    <a
      href="https://github.com/Nasar165"
      target="_black"
      rel="noreferrer"
      class="media-icon"
      ><i class="fab fa-github-square"></i
    ></a>
  </div>
  <div>
    <p class="">DIR</p>
    <p class="rotate-90">/ <span id="directory" class="">Home</span></p>
  </div>
  <div id="cord">
    <p class="rotate-90">
      41°24'12.2"N 2°10'26.5"E. / 41°24'12.2"N 2°10'26.5"E.
    </p>
    <p class="">CORD</p>
  </div>
</header>
