<particles
  [style]="myStyle"
  [width]="width"
  [height]="height"
  [params]="myParams"
></particles>
<router-outlet></router-outlet>
<app-sidebar></app-sidebar>
<app-connection [title]="'NEURALINK ESTABLISHED'"></app-connection>
<app-connection
  [title]="'FAILED TO ESTABLISHED CONNECTION'"
  [connection]="'red'"
  [RandLocation]="true"
></app-connection>
<app-connection
  [title]="'NEURALINK ESTABLISHED'"
  [RandLocation]="true"
></app-connection>
<app-connection
  [title]="'CONNECTING'"
  [connection]="'yellow'"
  [RandLocation]="true"
></app-connection>
<app-connection
  [title]="'FAILED TO ESTABLISHED CONNECTION'"
  [connection]="'red'"
  [RandLocation]="true"
></app-connection>
<app-connection
  [title]="'FAILED TO ESTABLISHED CONNECTION'"
  [connection]="'red'"
  [RandLocation]="true"
></app-connection>
<app-fake-terminal></app-fake-terminal>
<app-content></app-content>
